#button-area{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
#button-bar{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 3fr 1fr;
    grid-template-areas: 
    "ran clear"
    "bal bal"
    "bet bet"
    "play play"
    "opt opt";
    grid-gap: calc(1 * var(--u));
}
.logo{
    width: 100%;
}
.rounded{
}
.button{
    background-color: var(--greenDark);
    border-radius: calc(100 * var(--u));

    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    background-color: var(--greenHover);
}
.button:active{
    background-color: var(--greenDarker);
}

#play-button{
    grid-area: play;
}
#balance-text{
    grid-area: bal;

    font-size: calc(2 * var(--u));
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}
#random-button{
    grid-area: ran;
}
#clear-button{
    grid-area: clear;
}
#options-buttons{
    padding-inline: calc(1 * var(--u));
    grid-area: opt;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: calc(3 * var(--u));
    align-items: center;
    justify-content: space-between;
}
.options-button{
    height: 100%;
}
#bet-element{
    grid-area: bet;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: calc(0 * var(--u));

    font-weight: 600;
    font-size: calc(2 * var(--u));
}
#bet-text{
    background-color: var(--greenDark);  

    display: flex;
    align-items: center;
    justify-content: center;
}
#bet-element #bet-text{
    border-radius: 0;
}
#bet-element #plus-button{
    border-radius: 0 calc(100 * var(--u)) calc(100 * var(--u)) 0;
}
#bet-element #minus-button{
    border-radius: calc(100 * var(--u)) 0 0 calc(100 * var(--u));
}
#play-button{
    position: relative;
}
#cards-amount{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 20%;

    color: var(--greenDark);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: calc(1.5 * var(--u));


    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 calc(1 * var(--u)) calc(1 * var(--u)) 0;
}
.button.special-price{
    background-color: rgb(255, 217, 0);
    color: black;
}
#play-button img{
    width: 200px;
}
#random-button img{
    width: 70px;
}
#clear-button img{
    width: 70px;
}
#balance-text{
    font-size: calc(2 * var(--u));
}