#fade-popup.hide{
    display: none;
}
#fade-popup{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.719);

    display: flex;
    align-items: center;
    justify-content: center;
}
#buy-popup{
    height: calc(35 * var(--u));
    width: calc(27 * var(--u));
    background-color: var(--green);
    border-radius: calc(2 * var(--u));

    display: grid;
    grid-template-rows: 1fr 5fr;

    overflow: hidden;
}
#buy-header{
    font-size: calc(3 * var(--u));
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--greenDarker);
}
#buy-buttons{
    font-size: calc(2 * var(--u));
    font-weight: 500;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: calc(2 * var(--u));
    padding: calc(2 * var(--u));
}
.buy-button{
    background-color: var(--greenDark);

}