body{
    height: 100vh;
    width: 100vw;
    background-color: var(--green);
}
#main{ 
    aspect-ratio: 16/9;
    max-height: 100vh;

    padding: calc(10 * var(--u)) calc(7 * var(--u)) calc(10 * var(--u)) calc(7 * var(--u));
    background-color: var(--green);
    background-image: linear-gradient(#00d47f,#02c479);
    /*background-image: linear-gradient(90deg,var(--greenDark), var(--green), var(--green), var(--greenDark));*/

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;


    margin-inline: auto;
    overflow: hidden;
    position: relative;
}
.area{
    padding: calc(1 * var(--u));
}